NEXT_PUBLIC_SUPABASE_URL=https://cwxiudtxamtldluvygif.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_e7splTIsnQJwfAAUCEBsrg_hz-sQS7a

# Optional: Service Role Key for server-side admin operations
# Get this from your Supabase project settings > API > Service role key
SUPABASE_SERVICE_ROLE_KEY=

#Database pass .LasAguilas5B
